:root {
    --main-text-color: #FFFFFF;
    --title-color: #F4F4FD;
    --second-text-color: #2E2F42;
    --title-text-color: #434455;
    --button-text-color: #4D5AE5;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img{
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding:0 15px 0 15px;
}

.header {
    padding: 0 15px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    padding: 0 15px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-text-color);
    margin-right: 76px;
}

.logo-part {
    color: var(--second-text-color);
}


.header-navig {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    gap: 40px;
    transition: color var(--transition);
}

.header-menu-item{
    position: relative;
    color: #404bbf;
}

.header-menu-link {
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    transition: color var(--transition);
    position: relative;
}
.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.header-menu-link.current {
    color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
    font-weight: 400;
    max-width: 344px;
    margin-left: 251px;
    
}
.address-list{
display: flex;
gap: 40px;
transition: color var(--transition);
 }

.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color var(--transition);
}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
            url(../images/peopleoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
    
}
.hero-container{
flex-direction: column;

}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
    
}


.hero-btn {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--main-text-color);
        background: #4d5ae5;
        border-radius: 4px;
        padding: 16px 32px;
        margin: auto;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        cursor: pointer;
        transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color:var(--button-text-color) ;
    cursor: pointer;
}


.service{
    padding: 120px 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.service-item-icons{
width: 264px;
height: 112px;
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
background: #F4F4FD;
border-radius: 4px;
}



.service-item{
padding-left: 0;
width: calc((100% - 72px) / 4);

}
.service-item::before{
content: "";
width: 264px;
height: 112px;
background: #f4f4fd;
border-radius: 4px;
}


.service-list{
   display: flex;
   gap: 24px;
   
}
.service-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    margin-bottom: 8px;
    
}

.service-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.mesenger{
    padding-bottom: 120px;
}

.mesenger-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--second-text-color);
    margin-top: 120px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
 }
.mesenger-list{
    display: flex;
    gap: 24px;
}
.mesenger-list-item{
width: calc((100%-48px) / 3);
}
.container-img{
padding: 32px 0;
}

.people {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.people-item {
    background-color: #FFFFFF;
    width: calc((100%-72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.people-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.people-container{
    background-color: var(--title-color);
    padding-bottom: 32px;
    padding-top: 32px;
}

.people-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        text-align: center;
        min-width: 323px;
        margin: 0 auto;
        margin-bottom: 72px;

}

.people-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-align: center;
    margin-bottom: 8px;
    
}


.people-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-align: center;
    
}

.icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 8px;
    gap: 24px;
}
.icons-link{
    display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        padding: 12px;
        border-radius: 50%;
        transition: background-color var(--transition);
}
.icons-link:hover,
.icons-link:focus{
background-color: #404bbf;
}

.container-img{
    padding: 32px 0;
}

.container-icon{
    fill: #F4F4FD;
}
.customers{
   padding-top: 120px;
   padding-bottom: 120px;
}

.customers-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list{
    display: flex;
    gap: 24px;
    
}

.customers-item{
width: calc((100% - 120px)/6);
height: 88px;

}

.customer-link{
width: 100%;
height: 100%;
border: 1px solid #8e8f99;
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;
color: #8e8f99;
border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus{
color: #404bbf;
border-color: #404bbf;
}


.customer-icon{
   fill: currentColor;
}
.customers-item:hover,
.customers-item:focus{
    color: #404bbf;
    border-color: #404bbf;
}


.footer {
    background: #2e2f42;
    padding: 100px 0;
}
.footer-container{ 
    display: flex;
    align-items: baseline;
}
.footer-logo-text{
    margin-right: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--button-text-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.button-text {
    color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    max-width: 264px;
}
.footer-soc-box{
    margin-right: 80px;
}

.soc-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;

}
.footer-soc-list{
    display: flex;
    gap: 16px;
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.footer-soc-item{
    width: 40px;
    height: 40px;
}

.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color: var(--button-text-color);
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
background-color: #31d0aa;
}

.footer-icon{
    fill: #F4F4FD;
}
.paragraf-social{
    left: 57.5%;
    right: 37.29%;
    top: 32.05%;
    bottom: 60.26%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--main-text-color);
}

.subscribe-input::placeholder {
    color: var(--main-text-color);
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}

.portfolio{
display: flex;
flex-direction: column;
align-items: center;
padding: 96px 0 120px 0;
}

.portfolio-list{
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-text-color);
    background-color: #F4F4FD;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-list-img{
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.container-name{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-align: left;
    margin-bottom: 8px;
}
.portfolio-list-item{
width: calc((100% - 48px) / 3);
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 8px;
    padding-left: 16px;
}
.portfolio-img-link{
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-link:hover,
.portfolio-img-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}


.portfolio-img-link:hover .portfolio-overlay-text,
.portfolio-img-link:focus .portfolio-overlay-text {
    transform: translateY(0%);
}


.portfolio-overlay{
    position: relative;
    overflow: hidden;
    
}
.portfolio-overlay-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
.modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-btn:hover, 
.modal-btn:focus{
    background-color: #404bbf;
    border: none;
}


.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: #ffffff;
}
.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin-bottom: 16px;
}
.container-form-modal {
  margin-bottom: 8px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-input-icon {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition);
  
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-modal:focus {
  border-color: #4d5ae5;
}

.modal-input:focus-within + .modal-icon-input {
  fill: #4d5ae5;
}

.container-comment-modal {
  margin-bottom: 16px;
}
.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus .textarea-modal {
  border-color: #4d5ae5;
}

.container-checkbox-label {
  margin-bottom: 24px;
}

.label-checkbok {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-icon-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox-label:checked + .label-checkbok > .span-icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  margin-left: 100px;
}

/*?-----------SUBSCRIBE---------?*/

.form-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-text-color);
}

.subscribe-input::placeholder {
  color: var(--main-text-color);
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}